nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgb(27, 27, 86);
}

.liste {
    list-style-type: none;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 22px;
}

.items {
    color: #f1f1f1;
    cursor: pointer;
    margin: 0 15px;
    text-transform: uppercase;
}

.items a {
    color: #f1f1f1;
    text-decoration: none;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .liste {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1) {
        border-top: 1px solid rgba(255, 255, 255, 0.603);
        margin-top: 50px;
    }
    .items {
        height: 70px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.603);
        line-height: 70px;
        text-align: center;
    }
    .items a {
        color: #f1f1f1;
        text-decoration: none;
    }
    .btn {
        display: block;
    }
}